* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: #ff4100;
    --yellow: #ffc700;
    --max-width: 600px;
}

body {
    background-color: var(--red);
    color: var(--yellow);
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

input[type="checkbox"] {
   display: none;

    & + label {
        user-select: none;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 36px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    backdrop-filter: blur(8px);
    border-radius: 52px;
    max-width: 768px;
    margin: 0 auto;

    position: sticky;
    top: 12px;

    .logo {
        border-radius: 28px;
    }
    .logo svg path {
        fill: var(--red);
    }

    .menu {
        display: none;
    }

    ul.menu-list {
        display: flex;
        flex-direction: row;
        column-gap: 18px;
        transition: all 0.2s;
    }

}

section {
    height: 100vh;
}

.hero {
    margin: 10vh auto 0 auto;
    max-width: 1200px;
    padding: 2rem;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(assets/forks.webp);
    background-size: cover;
    background-position: center;

    svg path {
        fill: transparent;
        stroke: var(--yellow);
        stroke-width: 1;
        stroke-dasharray:400;
        stroke-dashoffset: 400;
        animation: textAnimation 3s ease-in-out 1 forwards;
    }
}

@media (max-width: 768px) {
    header {
        width: 100%;
        top: 0;
        border-radius: 0;
        padding: 0 18px ;

        .menu {
            display: block;
        }

        input[type="checkbox"] {
            display: none;
        }

        ul.menu-list {
            opacity: 0;
            transform: translate(-100%);
            display: none;

            .toggle {
                position: fixed;
                top: 30px;
                right: 30px;
                background-color: var(--red);
                padding: 12px;
                border-radius: 40px;
            }
        }

        ul.menu-list.checked {
            display: flex;
            opacity: 1;
            transform: translate(0);
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(255, 255, 255, .8);
            backdrop-filter: blur(10px);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 18px;
            z-index: 1000;
        }
    }

    .hero {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes textAnimation {
    0% {
        stroke-dashoffset: 400;
    } 80% {
        fill: transparent;
    } 100% {
        stroke-dashoffset: 0;
        fill: var(--yellow);
    }
}
