@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light dark;
    --dark-color: #232323;
    --light-color: #e2e2e2;


    --brand-color: #1e3a8a;
    --brand-color-2: #446edf;
    --brand-border-radius: 0px;
    --brand-border: 2px solid var(--brand-color);
}

body {
    /*background-color: light-dark(var(--light-color), var(--dark-color));*/
    color: light-dark(var(--dark-color), var(--light-color));
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100dvh;
}

header {
    width: 100%;
    /*background: var(--brand-color);*/
    padding: 22px 16px;
    border-bottom: 1px solid var(--brand-color);
    position: sticky;
    top: 0;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    /*background: red;*/
}

.info-box {
    position: relative;
}

button.bars {
    background-color: var(--brand-color);
    height: 100%;
    color: var(--light-color);
    border: none;
    padding: 8px 24px;
    font-size: 16px;
}

.bars {
    /*animation-play-state:playing;*/
    animation-delay: 1s;

    &:hover {
        animation-play-state:paused;
    }
}

.info {
    position: absolute;
    top:40px;
    right:10px;
    padding: 8px 24px;
    width: 220px;
    background: var(--light-color);
    color: var(--dark-color);
    display: flex;
    align-items: start;
    flex-direction: column;
    text-transform: capitalize;

    transform: translateY(20px) ;
    opacity: 0;
    transition: transform .3s ease-in, opacity 0s ease;

    & hr {
        border: 2px solid var(--brand-color);
        width: 100%;
        margin-block: 8px;
    }
}

.bars:hover + .info { /* sibling selector*/
    opacity: 1;
    transform: translateY(0);
    transition: transform .1s ease-out;
}

@media (min-width: 500px) {
    .bars {
        display: none;
    }

    .info {
        position: static;
        color: light-dark(var(--dark-color), var(--light-color));
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        background: none;
        flex-direction: row;
        text-transform: uppercase;
        opacity: 1;
        transform: none;
        transition: none;

        hr {display: none}
    }
}
